body {
    background: linear-gradient(135deg, #f8f5f2 0%, #e8e1d9 100%);
    padding: 40px;
    font-family: 'Segoe UI', sans-serif;
     background: url('images.png');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; /* rasm takrorlanmaydi    */
    min-height: 100vh;
}

/* Container */
.menu-container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px white;
    animation: fadeIn 0.5s ease;
}

/* Title */
.menu-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #7a4b27;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

/* Section */
.menu-section {
    margin-bottom: 35px;
    padding: 20px;
    background: #faf7f3;
    border-left: 6px solid #a0522d;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-section:hover {
    transform: translateX(6px);
    background: #f3eee9;
}

/* Section title */
.menu-section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #8b4513;
}

/* List */
.menu-section ul {
    padding-left: 25px;
}

.menu-section li {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
